body {
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PressStart2P';
    color: rgb(44, 202, 44);
    background-color: rgb(155, 155, 155);
}

@font-face {
    font-family: 'PressStart2P';
    src: url(../images/PressStart2P-Regular.ttf);
}

.container {
    border: rgb(109, 107, 107) solid 5px;
    border-radius: 12px;
    max-height: 655px;
    max-width: 400px;
}
/*calculator screen */

.screen {
    display: flex;
    flex-direction: column;
    text-align: right;
    border-bottom: rgb(80, 80, 80) solid 5px;
    background-color: black;
    min-height: 150px;
    max-height: 150px;
    max-width: 405px;
}


.numString {
    flex: 1;
    margin: 10px 5px 0px 0px;
    overflow: hidden;
    overflow-wrap: break-word;
    line-height: 1.6;
}


.evaluation {
    margin: 0px 5px 5px 0px;
}
/*button part of calculator */

.buttonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
    max-height: 500px;
    min-height: 500px;
    background-color: black;
}

.button {
    font-family: 'PressStart2P';
    flex-basis: 20%;
    background-color: rgb(80, 79, 79);
    /* border: red solid 2px; */
    color: rgb(21, 197, 21);
    max-width: 80px;
    min-height: 80px;
    padding: 0px;
    margin: 0px;
    border-radius: 25px;
    font-size: 15px;
    margin: 8px
}

.button:active {
    font-size: smaller;
    background-color: rgb(102, 102, 102);
}

.C {
    color: rgb(236, 56, 56);
}

.\/, .\*, .\-, .\+, .\=, .\%, .\(\) {
    color: rgb(248, 177, 45);
}
